<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Navbar Brand (Logo/Title) -->
    <a class="navbar-brand" href="#">Angular CRUD</a>

    <!-- Left-aligned Links -->
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      <a class="nav-link" routerLink="register-login" *ngIf="!isLoggedIn()">Register/Login</a>
    </div>

    <!-- Right-aligned Links (e.g., Logout) -->
    <div class="navbar-nav ms-auto">
      <span class="navbar-text me-4" *ngIf="isLoggedIn()">Welcome, {{ userName | titlecase}}</span>
      <a class="nav-link" routerLink="logout" (click)="userLogout()" *ngIf="isLoggedIn()">Logout</a>
    </div>
  </div>
</nav>
